<mt:setvarblock name="html_head" append="1">
</mt:setvarblock>

<mt:SetVarBlock name="jq_js_include" append="1">
</mt:SetVarBlock>

<mt:setvarblock name="page_content">
    <div class="modal-header">
        <h4 class="modal-title"><__trans phrase="Import E-mail magazine subscribers"></h4>
        <button type="button" class="close" aria-label="Close" data-mt-modal-close>
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-description">
        <p><__trans phrase="Imported the [_1] record. (Of which [_2] number Skip)" params="<$mt:getvar name='total' _default='0' escape='html'$>%%<$mt:getvar name='skipped' _default='0' escape='html'$>" /></p>
    </div>

    <div class="modal-body">
        <a href="<$mt:var name='script_url'$>?__mode=list&_type=member&blog_id=<$mt:var name='blog_id'$>"
            title="<__trans phrase='Check the member list.'>(s)"
            class="send action primary button">
            <__trans phrase="Check the list of subscripters." />
        </a>
    </div>

    <div class="modal-footer">
        <button
            class="action button btn btn-default"
            accesskey="x"
            title="<__trans phrase="Close (x)">"
            data-mt-modal-close>
            <__trans phrase="Close">
        </button>
    </div>
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
