<mt:setvarblock name="html_head" append="1">
</mt:setvarblock>

<mt:setvarblock name="page_content">
    <div class="modal-header">
        <h4 class="modal-title"><__trans phrase="Send Test Email"></h4>
        <button type="button" class="close" aria-label="Close" data-mt-modal-close>
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-description">
        <mtapp:statusmsg
             id="completed"
             class="success">
            <__trans phrase="Email sending has completed.">
        </mtapp:statusmsg>
    </div>

    <div class="modal-body">
        <ul>
        <mt:loop name="recipients">
        <li><$mt:var name="__value__" escape="html"$></li>
        </mt:loop>
        </ul>
    </div>

    <div class="modal-footer">
        <button
            class="action button btn btn-default"
            accesskey="x"
            title="<__trans phrase="Close (x)">"
            data-mt-modal-close>
            <__trans phrase="Close">
        </button>
    </div>
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
