<mtapp:setting
        id="imported_user_role"
        label="<__trans phrase="Imported user's default role">"
        hint="The default is '<__trans phrase='E-mail magazine subscribers' />'."
        show_hint="1">
    <input type="text" name="imported_user_role" value="<$mt:getvar name='imported_user_role' escape='html'$>">
</mtapp:setting>
