<mtapp:setting
        id="enable"
        show_hint="0">
    <label>
        <input type="checkbox" name="enable" value="1"<mt:If name="enable"> checked="checked"</mt:If> />
        <input type="hidden" name="enable" value="" />
        Enabled on this blog.
    </label>
</mtapp:setting>
<mtapp:setting
        id="mail_format"
        label="<__trans phrase='Mail Format'>"
        show_hint="0">
    <label>
        <input type="radio" name="mail_format" value="default"<mt:If name='mail_format' eq='default'> checked="checked"</mt:If>>
        HTML & Plain Text (multipart)
    </label>
    <label>
        <input type="radio" name="mail_format" value="html"<mt:If name='mail_format' eq='html'> checked="checked"</mt:If>>
        HTML only
    </label>
    <label>
        <input type="radio" name="mail_format" value="plain"<mt:If name='mail_format' eq='plain'> checked="checked"</mt:If>>
        Plain Text only
    </label>
</mtapp:setting>
<mtapp:setting
        id="mail_encoding"
        label="<__trans phrase='Mail Encoding'>"
        show_hint="0">
    <label>
        <input type="radio" name="mail_encoding" value="utf-8"<mt:If name='mail_encoding' eq='utf-8'> checked="checked"</mt:If>>
        UTF-8
    </label>
    <label>
        <input type="radio" name="mail_encoding" value="jis"<mt:If name='mail_encoding' eq='jis'> checked="checked"</mt:If>>
        JIS
    </label>
</mtapp:setting>
<mtapp:setting
        id="reply_to"
        label="<__trans phrase='Reply-To'>"
        show_hint="0">
    <input type="text" name="reply_to" value="<$mt:getvar name='reply_to' escape='html'$>">
</mtapp:setting>
<mtapp:setting
        id="return_path"
        label="<__trans phrase='Return-Path'>"
        show_hint="0">
    <input type="text" name="return_path" value="<$mt:getvar name='return_path' escape='html'$>">
</mtapp:setting>